.volumeBlock {
  width: auto;
  display: flex;
  align-items: center;
  padding: 0 92px 0 0;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.image {
  margin-right: 17px;
}

.icon {
  width: 13px;
  height: 18px;
}

.icon.dark {
  fill: #fff;
  stroke: #fff;
}

.icon.light {
  fill: #b1b1b1;
  stroke: #b1b1b1;
}
