.logo {
  margin-bottom: 34px;
  fill: #000000;
}

.login {
  margin-bottom: 30px;
}

.signUp {
  background-color: transparent;
  border: 1px solid #d0cece;
  color: #000000;
}

.signUp:hover {
  background-color: #f4f5f6;
}

.signUp:active {
  background-color: #d9d9d9;
}

.logIn {
  background-color: #580ea2;
  border: none;
  margin-top: 34px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.05px;
  color: #ffffff;
}

.logIn:hover {
  background-color: #3f007d;
}

.logIn:active {
  background-color: #271a58;
}

.link {
  width: 100%;
  height: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.05px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.black {
  color: black;
}
