.button {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border-radius: 60px;
  padding: 6px 20px;
  cursor: pointer;
  border: 1px solid;
}

.button:not(:last-child) {
  margin-right: 10px;
}

.activeClass {
  border-color: #ad61ff;
  color: #ad61ff;
}

.button.dark:hover {
  border: 1px solid #d9b6ff;
  color: #d9b6ff;
}

.button.light:hover {
  border: 1px solid #580ea2;
  color: #580ea2;
}
