.personal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 12px 0 15px 0;
}

.name {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: inherit;
  margin-right: 16px;
}

.avatar {
  width: 43px;
  height: 43px;
  border-radius: 50%;
}

.avatar.dark {
  background-color: #313131;
}

.avatar.light {
  background-color: #f6f4f4;
}
