.item {
  width: 100%;
  display: block;
  margin-bottom: 12px;
}

.track {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.album {
  width: 245px;
}

.albumLink {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #696969;
}

.author {
  width: 321px;
  display: flex;
  justify-content: flex-start;
}

.authorLink {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-align: left;
}

.timeIcon {
  width: 14px;
  height: 12px;
  margin-right: 17px;
  fill: transparent;
  stroke: #696969;
}

.timeText {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #696969;
}

.btn {
  cursor: pointer;
}

.btnIcon:hover svg{
  fill: transparent;
  stroke: #ACACAC;
  cursor: pointer;
}

.btnIcon:active svg{
  fill: #696969;
  stroke: #FFFFFF;
  cursor: pointer;
}

