.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container.dark {
  background-color: #181818;
}

.container.light {
  background-color: #f6f4f4;
}

.loginBlock {
}

.register {
  background-color: #ffffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 43px 44px 47px 40px;
}
