.track-play__like-dis {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 26%;
}

.dislike {
  padding: 5px;
  margin-left: 28.5px;
}

.dislike-svg {
  width: 14.34px;
  height: 13px;
  fill: transparent;
  stroke: #696969;
}

.like {
  padding: 5px;
}

.like-svg {
  width: 14px;
  height: 12px;
  fill: transparent;
  stroke: #696969;
}

._btn {
  cursor: pointer;
}

._btn-icon:hover svg{
  fill: transparent;
  stroke: #ACACAC;
  cursor: pointer;
}

._btn-icon:active svg{
  fill: #696969;
  stroke: #FFFFFF;
  cursor: pointer;
}
