.logo {
  width: 113px;
  height: 43px;
  padding: 13px 0 13px 0;
  background-color: transparent;
}

.image {
  width: 113px;
  height: 17px;
}

.image.dark {
  fill: #fff;
}

.image.light {
  fill: #000;
}
