.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 447px;
}

.titleLink {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: inherit;
}

.сlarification {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.сlarification.dark {
  color: #4e4e4e;
}

.сlarification.light {
  color: #b1b1b1;
}