.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.wrapper.dark {
  background-color: #181818;
  color: #fff;
}

.wrapper.light {
  background-color: #fff;
  color: black;
}

.container {
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}
