.menu {
  display: block;
  visibility: visible;
  display: none;
  transition: all 0.2s;
}

.menuActive {
  display: block;
}

.list {
  padding: 18px 0 10px 0;
  transition: all 0.2s;
}

.item {
  padding: 5px 0;
  margin-bottom: 16px;
}

.link {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
