.bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
}

.playerProgress {
  width: 100%;
  height: 5px;
  border-radius: 30px;
  outline: none;
  -webkit-transition: 0.2s;
  -webkit-appearance: none;
  transition: all 0.2s ease;
  cursor: pointer;
}

.playerProgress::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 2px solid;
}

.playerProgress.dark::-webkit-slider-thumb {
  background-color: #181818;
  border-color: #fff;
}

.playerProgress.light::-webkit-slider-thumb {
  background-color: #fff;
  border-color: #b1b1b1;
}

.playerBlock {
  height: 73px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
