.logo {
  margin-bottom: 34px;
  fill: #000;
}

.signUp {
  background-color: #580ea2;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
  margin-top: 34px;
}

.signUp:hover {
  background-color: #3f007d;
}

.signUp:active {
  background-color: #271a58;
}

