.controls {
  display: flex;
  flex-direction: row;
  padding: 0 27px 0 31px;
}

.prev,
.play,
.next,
.repeat,
.shuffle {
  padding: 5px;
  display: flex;
  align-items: center;
}

.prev {
  margin-right: 23px;
}

.prevIcon {
  width: 15px;
  height: 14px;
}

.play {
  margin-right: 23px;
}

.playIcon {
  width: 22px;
  height: 20px;
  fill: #d9d9d9;
}

.next {
  margin-right: 28px;
  fill: #a53939;
}

.nextIcon {
  width: 15px;
  height: 14px;
  fill: inherit;
  stroke: #d9d9d9;
}

.repeat {
  margin-right: 24px;
}

.repeatIcon {
  width: 18px;
  height: 12px;
  fill: transparent;
  stroke: #696969;
}

.shuffle {
  display: flex;
  align-items: center;
}

.shuffleIcon {
  width: 19px;
  height: 12px;
  fill: transparent;
  stroke: #696969;
}

.play {
  display: flex;
  flex-direction: row;
}

.activeRepeat svg {
  fill: #fff;
  stroke: #fff;
}

.play svg path:hover,
.prev svg path:hover,
.next svg path:hover {
  fill: #696969;
  stroke: #696969;
}
