.controls {
  display: flex;
  flex-direction: row;
  padding: 0 27px 0 31px;
}

.prev,
.play,
.next,
.repeat,
.shuffle {
  padding: 5px;
  display: flex;
  align-items: center;
}

.prev {
  margin-right: 23px;
}

.prevIcon {
  width: 15px;
  height: 14px;
}

.play {
  margin-right: 23px;
}

.playIcon {
  width: 22px;
  height: 20px;
  fill: #d9d9d9;
}

.next {
  margin-right: 28px;
  fill: #a53939;
}

.nextIcon {
  width: 15px;
  height: 14px;
  fill: inherit;
  stroke: #d9d9d9;
}

.repeat {
  margin-right: 24px;
}

.repeatIcon {
  width: 18px;
  height: 12px;
  fill: transparent;
  stroke: #696969;
}

.shuffle {
  display: flex;
  align-items: center;
}

.shuffleIcon {
  width: 19px;
  height: 12px;
  fill: transparent;
  stroke: #696969;
}

.play {
  display: flex;
  flex-direction: row;
}

.btn {
  cursor: pointer;
  background: inherit;
  border: none;
}

.btnIcon:hover svg {
  fill: transparent;
  stroke: #acacac;
  cursor: pointer;
}

.btnIcon:active svg {
  fill: transparent;
  stroke: #ffffff;
  cursor: pointer;
}

.btnIcon:active {
  fill: #696969;
  stroke: #ffffff;
  cursor: pointer;
}

.activeRepeat svg {
  fill: #ad61ff;
  stroke: #ad61ff;
  height: 22px;
  width: 20px;
}
