.controls {
  display: flex;
  flex-direction: row;
  padding: 0 27px 0 31px;
}

.prev,
.play,
.next,
.repeat,
.shuffle {
  padding: 5px;
  display: flex;
  align-items: center;
}

.prev,
.play,
.repeat {
  margin-right: 23px;
}

.next {
  margin-right: 28px;
}

.play {
  flex-direction: row;
}

.prevIcon.dark,
.nextIcon.dark {
  fill: #d9d9d9;
  stroke: #d9d9d9;
}

.playIcon.dark {
  width: 22px;
  height: 20px;
  fill: #d9d9d9;
}

.repeatIcon.dark,
.shuffleIcon.dark {
  width: 18px;
  height: 12px;
  stroke: #696969;
}

.playIcon.dark:hover,
.prevIcon.dark:hover,
.nextIcon.dark:hover,
.repeatIcon.dark:hover,
.shuffleIcon.dark:hover {
  fill: #acacac;
  stroke: #acacac;
}

.playIcon.dark:active,
.prevIcon.dark:active,
.nextIcon.dark:active,
.repeatIcon.dark:active,
.shuffleIcon.dark:active {
  fill: #696969;
  stroke: #fff;
}

.prevIcon.light,
.nextIcon.light {
  fill: #b1b1b1;
  stroke: #b1b1b1;
}

.playIcon.light {
  width: 22px;
  height: 20px;
  fill: #b1b1b1;
}

.repeatIcon.light,
.shuffleIcon.light {
  width: 18px;
  height: 12px;
  stroke: #b1b1b1;
}

.playIcon.light:hover,
.prevIcon.light:hover,
.nextIcon.light:hover,
.repeatIcon.light:hover,
.shuffleIcon.light:hover {
  fill: #707070;
  stroke: #707070;
}

.playIcon.light:active,
.prevIcon.light:active,
.nextIcon.light:active,
.repeatIcon.light:active,
.shuffleIcon.light:active {
  stroke: #000;
}

.activeRepeat svg {
  fill: #fff;
  stroke: #fff;
}
