.modal {
  position: absolute;
  margin-top: 20px;
  width: auto;
  height: auto;
  border-radius: 12px;
  padding: 34px;
  box-sizing: border-box;
}

.modal.dark {
  background-color: #313131;
}

.modal.light {
  background-color: #f6f5f3;
}
