.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 24px;
}

.col {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.col.dark {
  color: #4e4e4e;
}

.col.light {
  color: #b1b1b1;
}

.col:nth-of-type(1) {
  width: 447px;
}

.col:nth-of-type(2) {
  width: 300px;
}

.col:nth-of-type(3) {
  width: 245px;
}

.col:nth-of-type(4) {
  width: 107px;
  text-align: end;
  padding-right: 72px;
}

.icon.dark {
  stroke: #4e4e4e;
}

.icon.light {
  stroke: #b1b1b1;
}
