.icon {
  width: 14px;
  height: 12px;
  margin-right: 17px;
  fill: transparent;
}

.icon.dark {
  fill: transparent;
  stroke: #696969;
}

.icon.dark:hover {
  stroke: #acacac;
}

.icon.dark:active {
  stroke: #fff;
  fill: #696969;
}

.icon.light {
  stroke: #b1b1b1;
}

.icon.light:hover {
  stroke: #707070;
}

.icon.light:active {
  stroke: #ad61ff;
  fill: #ad61ff;
}

.active.light {
  stroke: #ad61ff;
  fill: #ad61ff;
}

.active.dark {
  stroke: #fff;
  fill: #696969;
}


